
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

    <div class="main-card mb-3 card">
      
        <div class="card-body">
          
                <div class="main-card mb-3 card">
                    <div class="card-body">
                        <div class="card-header-custom  bg-moi-green">
                            <i class="header-icon pe-7s-pen icon-gradient bg-white"> </i>
                            Help - guide will be ready by Jan 9, 2022
                        </div>
                       
                    </div>
                </div>
             
        </div>
    </div>
<script src="~/AppJs/Project.js"></script>
