@using PCVMS.Presentation.Helpers;
@inject ICacheHelper obj;

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var Localizer = await obj.GetAllResource();
}
<!DOCTYPE html>
<html>
<head>
    <title>PCVIMS System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/css/ol.css">
    <link rel="stylesheet" href="~/css/ol-ext.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>


    <!--IDOT Project Static Files-->
    <link rel="stylesheet" type="text/css" href="~/css/gis_style.css">
    <script src="https://cdn.jsdelivr.net/gh/openlayers/openlayers.github.io@master/en/v6.2.1/build/ol.js"></script>
    <script src="~/AppJs/ol-ext.js"></script>
    <script src="~/AppJs/proj4.js"></script>
    <script src="~/AppJs/jsts.min.js"></script>
    <script src="~/AppJs/buffer.js"></script>

</head>
<body>
    <div class="col-lg-12 col-md-12">
        <div class="main-card mb-3 card">
            <div class="no-gutters row">
                <div class="col-md-6">
                    <div class="widget-content">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-right ml-0 mr-3">
                                <div class="widget-heading text-success">@Localizer["PCVMS - Affected Properties Survey"]</div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-content">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-right ml-2 mr-3">
                                <div class="widget-heading">@Localizer["Distance"]</div>
                            </div>
                            <div class="widget-content-left">
                                <div class="widget-subheading">

                                    <div class="input-group">
                                        <input name="text_distance" type="text" id="text_distance" placeholder="Distance(m)" class="form-control">
                                        <div class="input-group-append"><span class="input-group-text"><i class="pe-7s-search btn-icon-wrapper"> </i></span></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="widget-content">
                        <div class="widget-content-wrapper">
                            <div class="widget-content-right ml-0 mr-3">
                                <div class="widget-heading">
                                    <button id="btn_apply" name="btn_apply" class="mb-2 mr-2 btn-icon btn-shadow btn-dashed btn btn-outline-danger block-page-btn-example-3">
                                        <i class="pe-7s-magic-wand btn-icon-wrapper"> </i>@Localizer["Apply"]
                                    </button>

                                    <button id="btn_save" name="btn_save" class="mb-2 mr-2 btn-icon btn-shadow btn-dashed btn btn-outline-success block-page-btn-example-3">
                                        <i class="pe-7s-diskette btn-icon-wrapper"> </i>@Localizer["save"]
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="div_option">
        <div class="radio">
            <label><input id="opt_category" type="radio" name="optradio" checked>Category</label>
        </div>
        <div class="radio">
            <label><input id="opt_property" type="radio" name="optradio">Property</label>
        </div>

    </div>
    <div id="map" class="map"></div>

    <div id="popup" class="ol-popup">
        <a href="#" id="popup-closer" class="ol-popup-closer"></a>
        <div id="popup-content"></div>
    </div>

    @*<div id="div_input">
            <form class="form-inline">
                <div class="form-group mx-sm-3 mb-2">
                    <label for="text_distance" class="sr-only">Distance</label>
                    <input type="text" class="form-control" id="text_distance" placeholder="Distance(m)">
                </div>
                <button type="button" class="btn btn-primary mb-2" id="btn_apply">Apply</button>
                <button type="button" class="btn btn-primary mb-2" id="btn_save" style="margin-left: 5px;">Save</button>
            </form>
        </div>*@



</body>
</html>

