
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PCVMS.Model.Web.PCVMS_Project_Model

<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="main-card mb-3 card">
            <div class="card-header  bg-moi-green">
                <i class="header-icon pe-7s-pen icon-gradient bg-royal"> </i>
                <h1>GIS (Geographical Information System)</h1>
            </div>
        </div>

    </div>

</div>
<div id="map" class="map"></div>

<script src="~/AppJs/proj4.js"></script>
<script src="~/AppJs/mapViewer.js"></script>